/* Devs Stylesheet */

/*
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
}
*/
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Light.ttf') format('truetype');
	font-weight: 300;
}
body {
	font-family: Arial,sans-serif;
	font-size: 12px;
	/* background: #427DCB; */
}
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

.form-control:focus {
	border-color: #CCC;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(204,204,204,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(204,204,204,.6);
}
.form-control,
.navbar-form .btn,
.footer-form .btn,
.dropdown-menu {
	font-size: 12px;
	border-radius: 0;
}
.navbar-form .btn,
.footer-form .btn {
	padding: 7.5px 15px;
	width: 100%;
}
.btn-black {
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 0;
}
.btn-black:hover,
.btn-black:focus {
	color: #FFFFFF;
}
.btn-orange {
	color: #000;
	background-color: #FFEC0F;
	border-radius: 0;
	font-weight: 600;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange.focus,
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
	color: #000;
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
	background-image: none;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.col-xs-15 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}
.def-list a {
	color: #FFF !important;
}
.def-list a:hover,
.def-list a:focus {
	color: #FFF !important;
}
.def-badge {
	color: #FFEC0F ;
	padding: 4px 7px;
	background-color: #000;
}

.def-header {
	background-color: #FFEC0F;
	height: 80px;
}
.def-header .container-fluid,
.def-footer .container-fluid,
.def-content .container-fluid {
	max-width: 1170px;
}
.def-header > .container {
	padding-right: 0;
	padding-left: 0;
}
.def-header .navbar-default {
	background-color: #FFEC0F;
	height: 80px;
}
.def-header .navbar-brand {
	padding: 8px 0;
	position: absolute;
	left: 60px;
	top: 0;
	right: 60px;
	height: auto;
}
.def-header .navbar-brand > img {
	margin: 0 auto;
	max-width: 144px;
}
.def-header .navbar-toggle {
	border: 0;
	border-radius: 0;
}
.def-header .navbar-toggle:hover,
.def-header .navbar-toggle:focus {
	background-color: transparent;
}
.def-header .navbar-toggle img {
	max-width: 24px;
}
.def-header .navbar-toggle-left {
	float: left;
	margin: 8px 0 8px 15px;
}
.def-header .navbar-form {
	margin: 0;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #E7E7E7;
	position: relative;
}
.def-header .navbar-form:last-child {
	border-bottom: 0;
}
.def-header .navbar-form .form-group {
	margin-bottom: -1px;
}
.def-header .navbar-nav {
	margin: 0;
	padding: 0;
}
.def-header .navbar-nav > li > .dropdown-menu {
	border-radius: 0;
}
.def-header .navbar-nav > li > .def-dropdown {
	padding: 15px;
	background: #333;
	color: #FFF !important;
}
.def-header .navbar-nav > li > .def-dropdown a {
	padding: 10px 0;
	position: relative;
	color: #FFF !important;
}
.def-header .navbar-nav > li > .def-dropdown p {
	margin-bottom: 0;
}
.def-header .navbar-nav > li > .def-dropdown .media-object {
	max-width: 40px;
}
.def-header .navbar-nav > li > .def-dropdown .media-heading {
	font-weight: bold;
	color: #FFF;
}
.def-header .navbar-nav > li > .def-dropdown .sub-heading {
	font-weight: bold;
	color: #FFF;
}
.def-header .navbar-nav > li > .def-dropdown .glyphicon-remove {
	position: absolute;
	top: 10px;
	right: 0;
	color: #FFF;
}
.def-header .navbar-nav > li > .def-dropdown .total {
	font-size: 14px;
}
.def-header .navbar-nav > li > .def-dropdown .separator {
	margin: 10px 0;
	padding: 10px;
}
.def-header .select-category {
	display: none;
}
.def-header .btn-search {
	margin: 15px 0;
	padding: 6px 8px;
	width: auto;
	position: absolute;
	top: 0;
	right: 0;
}
.def-header .btn-search img {
	max-width: 20px;
}
.def-header .cart-anchor .bag-count {
	display: inline-block;
	position: relative;
	padding: 0 8px;
}
.def-header .cart-anchor .bag-count img {
	margin-bottom: 6px;
	max-width: 24px;
}

.def-footer {
	background-color: #000;
	color:#FFF;
}
.def-footer .row {
	margin: 0;
}
.def-footer .brand {
	margin-bottom: 18px;
}
.def-footer .lead {
	margin-bottom: 8px;
	font-weight: bold;
}
.def-footer p {
	margin-bottom: 4px;
}
.def-footer .footer-form {
	margin: 10px 0;
}
.def-footer .form-group {
	margin-bottom: -1px;
}
.def-footer .form-control {
	background-color: #FFEC0F;
	border-color: #000;
	color: #000;
	font-weight: 600;
}
.def-footer .form-control::-webkit-input-placeholder {
	color: #333;
}
.def-footer .form-control::-moz-placeholder {
	color: #333;
	opacity: 1
}
.def-footer .footer-form .btn {
	border-color: #000;
}
.def-footer .def-list {
	margin-bottom: 20px;
}
.def-footer .text-icon {
	line-height: 20px;
}
.def-footer .text-icon img {
	margin-right: 8px;
	max-width: 16px;
}
.def-footer .sitemap {
	padding: 20px 0 0;
}
.def-footer .sitemap [class^="col"] {
	margin-bottom: 20px;
}
.def-footer .rights {
	padding: 16px 0;
	color: #000;
	background-color: #FFEC0F;
	text-align: center;
}
.def-footer .rights p {
	margin-bottom: 8px;
}
.def-footer .rights .socials {
	margin-bottom: 0;
}
.def-footer .rights .socials a {
	color: #000;
	font-size: 18px;
}

@media (min-width: 0) {
	.navbar-form .btn, .footer-form .btn {
		width: auto;
	}
	.def-header {
		margin-bottom: 40px;
	}
	.def-header .navbar-default {
		border-bottom: 0;
	}
	.def-header .navbar-brand {
		padding: 15px 15px;
		position: relative;
		left: 0;
		top: 0;
		right: 0;
	}
	.def-header .navbar-brand > img {
		max-width: 200px;
	}
	.def-header .select-category {
		display: block;
	}
	.def-header .navbar-form {
		margin: 1px;
		padding: 12px 15px;
		border-bottom: 0;
		width: auto;
		float: left;
	}
	.def-header .navbar-form .form-group {
		float: left;
		margin-bottom: 0;
		margin-right: -1px;
	}
	.def-header .btn-search {
		margin: 0;
		position: static;
	}
	.def-header .form-control,
	.def-header .btn-search {
		background-color: #FFEC0F;
		border-color: #000;
		font-weight: 600;
	}
	.def-header .form-control::-webkit-input-placeholder {
		color: #333;
	}
	.def-header .form-control::-moz-placeholder {
		color: #333;
	}
	.def-header .navbar-default .navbar-collapse:last-child {
		background-color: #000;
		/* position: absolute;
		width: 100%; */
	}
	.def-header .navbar-default .navbar-right-in {
		padding: 0;
	}
	.def-header .navbar-default .navbar-right-in a {
		padding: 6px 12px 2px;
	}
	.def-header .navbar-default .navbar-right-in a:hover,
	.def-header .navbar-default .navbar-right-in a:focus,
	.def-header .navbar-default .navbar-right-in > .open > a {
		background-color: transparent;
	}
	.def-header .navbar-default .navbar-right-in .auth {
		padding: 12px 0;
	}
	.def-header .navbar-default .navbar-right-in .btn-auth {
		margin: 1px -1px;
		background-color: #FFEC0F;
		border: 1px solid #000;
		color: #000 !important;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 16px;
	}
	.def-header .navbar-default .navbar-right-in .btn-auth:hover {
		background-color: #FFEC0F;
	}
	.def-header .navbar-default .open .dropdown-toggle {
		border-radius: 0;
		color: #000 !important;
		background-color: #FFEC0F !important;
	}
	.def-header .navbar-default .cart-anchor {
		margin: 8px 4px;
		background-color: transparent;
	}
	.def-header .navbar-default .cart-anchor .caret {
		color: #000;
	}
	.def-header .navbar-nav > li > .def-dropdown h3 {
		margin-top: 0;
		margin-bottom: 4px;
		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: 1px solid #EEE;
	}
	.def-header .navbar-default .navbar-right-in .search img {
		max-width: 24px;
		cursor: pointer;"
	}

	.def-footer .row {
		margin-left: -15px;
		margin-right: -15px;
	}
	.def-footer .lead {
		font-size: 14px;
	}
	.def-footer .rights {
		text-align: left;
	}
	.def-footer .rights p {
		margin-bottom: 0;
		line-height: 24px;
	}
	.def-footer .rights .socials {
		text-align: right;
	}
	.def-footer .brand {
		padding: 48px 0;
	}
}

.def-content .banner,
.def-content .banners {
	margin-bottom: 25px;
}


@media screen and (min-width: 960px){
	.def-content .banner-big img,
	.def-content .banner-small img {
		/* width: 100%;
		height: 100%; */
		text-align: center;
		margin: 0px 0 0 0;
		position: relative;
		/* height: 400px; */
		overflow: hidden;
	}
}

@media (min-width: 768px) {
	.def-content .banner-big .row,
	.def-content .banner-small .row {
		margin: 0 -5px;
	}
	.def-content .banner-big [class^="col"],
	.def-content .banner-small [class^="col"] {
		padding: 8px 4px;
	}
	.def-content .banner-small img {
		width: 100%;
	}
	.def-header .navbar-nav > li > a {
		padding-top: 8px !important;
		padding-bottom: 8px !important;
		background: #000;
		color:#FFF !important;
		font-weight: normal;
	}
	.def-header .navbar-nav > li > a:hover {
		color:#000 !important;
		background: #FFEC0F;
	}
	.def-header .navbar-nav > li > a.active {
		color: #F00 !important;
	}
}

@media (max-width: 480px) {
	.col-xx {
		width: 100%;
	}
}

.oswald {
	font-family: 'Oswald', sans-serif;
}
.title {
	font-family: 'Oswald', sans-serif;
}
.title-watch {
	font-family: 'Oswald', sans-serif;
	color: #FFF;
	padding: 10px;
	background-color: #000;
	display: inline-block;
}

.def-temp .head {
	margin-bottom: 10px;
}
.def-temp .head .title {
	margin-top: 0;
	margin-bottom: 0;
	padding: 8px 0;
	font-size: 18px;
	border-bottom: 1px solid #DEDEDE;
}
.def-temp .orange {
	color: #FFEC0F;
}
.orange {
	color:  #FFEC0F;
}
.thumbs .row {
	margin-right: -5px;
	margin-left: 0px;
}
.thumbs .row > [class^="col"] {
	padding-right: 5px;
	padding-left: 5px;
}
.thumbs .thumb {
	display: block;
	margin-bottom: 15px;
}
.thumbs .thumb .image {
	padding: 15px;
}
.thumbs .thumb .image img {
	margin: 0 auto;
}
.thumbs .thumb .desc {
	padding: 10px;
	color: #000000;
	font-size: 14px;
	text-align: center;
}
.thumbs .thumb .desc p {
	margin-bottom: 0;
}
.thumbs .thumb .desc .brand-name {
	font-weight: 600;
	font-size: 18px;
}
.thumbs .thumb .desc .name {
	height: 45px;
}

.owl-banner {
	margin: 0 auto;
	width: 100%;
}
.owl-banner .item img {
	margin-bottom: 0;
	width: 100%;
}
.owl-banner .owl-theme .owl-controls {
	margin-top: 0;
	width: 100%;
	position: absolute;
	top: 40%;
}
.owl-banner .owl-theme .owl-controls .owl-buttons div {
	margin: 0;
	padding: 0 16px;
	border-radius: 50%;
	font-size: 36px;
	background-color: #000000;
}
.owl-banner .owl-theme .owl-controls .owl-buttons .owl-prev {
	float: left;
	margin-left: 40px;
}
.owl-banner .owl-theme .owl-controls .owl-buttons .owl-next {
	float: right;
	margin-right: 40px;
}
.owl-featured .owl-wrapper-outer {
	padding: 5px;
}
.owl-featured .owl-item .thumb {
	margin-right: 5px;
	margin-left: 5px;
}
.owl-featured .owl-theme .owl-controls {
	margin-top: 0;
	position: absolute;
	right: 0;
	top: -60px;
}
.owl-featured .owl-theme .owl-controls .owl-buttons div {
	margin: 0 2px;
	padding: 0;
	font-size: 36px;
	color: #000000;
	background-color: transparent;
}

@media (min-width: 768px) {
	.def-content .banner-big .owl-follow img {
		width: 470px;
		height: 505px;
	}
}

.featured,
.featured-tabs,
.news,
.product {
	margin-bottom: 20px;
}
.featured-tabs .head .title,
.news .head .title,
.product .head .title {
	margin-left: 60px;
}
.featured-tabs .thumbs .thumb .image {
	padding: 25px;
}
.news .thumbs .thumb,
.news .thumbs .thumb .image {
	border-color: transparent;
}
.news .thumbs .thumb .image,
.news .thumbs .thumb .desc {
	padding: 5px;
}
.news .thumbs .thumb .desc .detail {
	margin-top: 10px;
	color: #A5A5A5;
}
.banner-fluid {
	margin-top: 40px;
	margin-bottom: 40px;
}
.banner-fluid img {
	width: 100%;
}

.def-temp .head .breadcrumb {
	margin-bottom: 0;
	padding: 8px 0;
	background-color: transparent;
}
.def-temp .head .breadcrumb a {
	color: #333;
}
.def-temp .head .breadcrumb > .active {
	color: #FFEC0F;
	background: #000;
	padding: 4px 8px;
}
.def-temp .head .breadcrumb > li + li:before {
	color: #FFEC0F;
	content: ">\00a0";
}

.carousel-thumbnail {
	margin-bottom: 20px;
}
.carousel-thumbnail .carousel-inner {
	border: 1px solid #ECECEC;
}
.carousel-thumbnail .carousel-inner > .item > img {
	margin: 0 auto;
}
.carousel-thumbnail .item {
	max-height: none;
}
.carousel-thumbnail .col-sm-2 {
	padding: 0;
}
.carousel-thumbnail-nav {
	position: relative;
}
.carousel-thumbnail-nav > ul > li:first-child,
.carousel-thumbnail-nav > ul > li:last-child {
	display: none;
}
.carousel-thumbnail-nav > ul > li > a {
	display: block;
	padding: 2px;
}
.carousel-thumbnail-nav > ul > li > a > img {
	display: inline;
	border: 3px solid #ECECEC;
	opacity: .5;
}
.carousel-thumbnail-nav > ul > li > a.selected > img {
	border: 3px solid #888888;
	opacity: 1;
}
.carousel-thumbnail-nav .selected img {
	padding: 4px;
}
.carousel-thumbnail-nav .carousel-control {
	position: relative;
}
.carousel-thumbnail-nav .carousel-control.left,
.carousel-thumbnail-nav .carousel-control.right {
	-webkit-background-image: none;
	-moz-background-image: none;
	-o-background-image: none;
	-ms-background-image: none;
	background-image: none;
}
.carousel-thumbnail-nav .carousel-control.left .glyphicon {
	right: -1px;
}
.carousel-thumbnail-nav .carousel-control.right .glyphicon {
	top: 5px;
	left: -1px;
}
.carousel-thumbnail-nav ul {
	margin: 0 auto;
	text-align: center;
}
.carousel-thumbnail-nav li {
	padding: 0;
}
.carousel-thumbnail-nav .dark-round {
	margin: 10px auto;
	background-color: #333;
	width: 30px;
	height: 30px;
	border-radius: 15px;
}

.product .def-temp,
.product .def-temp > .row > [class^="col"] {
	margin-bottom: 20px;
}
.product .describe {
	display: block;
	text-align: left;
}
.product .describe .title p {
	margin-bottom: 4px;
	font-size: 18px;
	font-weight: bold;
}
.product .describe .title h3 {
	margin-top: 0;
	font-weight: 300;
}
.product .describe .description {
	padding: 20px 0;
	border-top: 1px solid #ECECEC;
	border-bottom: 1px solid #ECECEC;
	overflow: auto;
}
.product .describe .description [class^="col"] {
	padding: 8px 15px;
}
.product .describe .description p {
	margin-bottom: 4px;
		font-size: 18px;
}
.product .describe .description .code {
	color: #777;
	font-style: italic;
}
.product .describe .description .status-instock {
	padding: 4px 8px;
	background-color: #FF5722;
	color: #FFF;
	display: inline-block;
	font-weight: bold;
	margin-top: 10px;
}
.product .describe .description .price {
	color: #FFEC0F;
	font-size: 22px;
	font-weight: bold;
}
.product .describe .description .price-strike {
	text-decoration: line-through;
	color: black !important;
}
.product .describe .description .form-inline .control-label {
	margin-right: 8px;
	margin-bottom: 0;
	vertical-align: middle;
}
.product .describe .description .form-inline .form-group,
.product .describe .description .form-inline select {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}
.product .describe .description .form-inline .btn {
	padding: 6px 24px;
}
.product .describe .description .infos {
	background-color: #FFEC0F;
	margin-right: -15px;
	margin-left: -15px;
	padding: 10px 15px;
}
.product .describe .share {
	text-align: center;
}
.product .describe .share .breadcrumb {
	padding: 15px 0;
	background-color: transparent;
}
.product .describe .share .breadcrumb > li + li:before {
	color: #333;
	content: " ";
}
.product .describe .share a {
	line-height: 33px;
	display: inline-block;
	vertical-align: middle;
}
.product .describe .share .facebook {
	width: 34px;
	height: 33px;
	background: url(/watchinc/images/watchinc/socials.png) 0 0;
}
.product .describe .share .twitter {
	width: 34px;
	height: 33px;
	background: url(/watchinc/images/watchinc/socials.png) -42px 0;
}
.product .describe .share .youtube {
	width: 34px;
	height: 33px;
	background: url(/watchinc/images/watchinc/socials.png) -86px 0;
}
.product .describe .share .instagram {
	width: 34px;
	height: 33px;
	background: url(/watchinc/images/watchinc/socials.png) -128px 0;
}
.product .describe .share .googleplus {
	width: 34px;
	height: 33px;
	background: url(/watchinc/images/watchinc/socials.png) -171px 0;
}

@media (min-width: 768px) {
	.product .describe {
		margin-left: 20px;
	}
	.product .describe .name {
		font-weight: bold;
		color: #000;
	}
}

.star-rating {
	font-size: 0;
	white-space: nowrap;
	display: inline-block;
	width: 68px;
	height: 15px;
	overflow: hidden;
	position: relative;
	background: url('/watchinc/images/watchinc/icon/star.png');
	background-size: contain;
}
.star-rating i {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 17px;
	height: 15px;
	z-index: 1;
	background: url('/watchinc/images/watchinc/icon/star-orange.png');
	background-size: contain;
}
.star-rating input {
	-moz-appearance: none;
	-webkit-appearance: none;
	opacity: 0;
	display: inline-block;
	width: 17px;
	height: 15px;
	margin: 0;
	padding: 0;
	z-index: 2;
	position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
	opacity: 1;
}
.star-rating i ~ i {
	width: 50%;
}
.star-rating i ~ i ~ i {
	width: 75%;
}
.star-rating i ~ i ~ i ~ i {
	width: 100%;
}
.star-choice {
	position: absolute;
	top: 28px;
	right: 20px;
}

.def-temp .head .as-title {
/*	margin-left: 60px;*/
	padding: 8px 0;
	height: 36px;
}
.def-temp .head .as-title > li {
	margin-left: 20px;
}
.def-temp .head .as-title > li:first-child {
	margin-left: 0
}
.def-temp .head .as-title > li > a {
	padding: 0;
	border: 0;
	background-color: transparent;
	color: #A5A5A5;
	font-size: 18px;
}
.def-temp .head .as-title > li.active > a,
.def-temp .head .as-title > li.active > a:focus,
.def-temp .head .as-title > li.active > a:hover {
	border: 0;
}
.def-temp .head .as-title > li.active > a {
	color: #000;
}
.def-temp .content .as-title-content {
/*	margin-left: 60px;*/
}
.def-temp .content .as-title-content .section {
	padding: 4px 0;
}
.def-temp .content .as-title-content .as-table .row  {
	margin-right: -2px;
	margin-left: -2px;
}
.def-temp .content .as-title-content .as-table .row [class^="col"] {
	padding-left: 2px;
	padding-right: 2px;
}
.def-temp .content .as-title-content .section > p:first-child {
	font-weight: bold;
}
.def-temp .content .as-title-content .as-table p {
	margin-bottom: 4px ;
	padding: 4px 12px;
	background-color: #F5F5F5;
}
.def-temp .content .as-title-content .as-table .col-xs-4 p {
	font-weight: bold;
}
.def-temp .head .title.no-img {
	margin-left: 0;
}

/* New Added */
.arrow-steps {
	margin-bottom: 40px;
}
.arrow-steps .row {
	margin: 0;
}
.arrow-steps  [class^="col"] {
	padding: 0;
}
.arrow-steps  [class^="col"]:last-child .arrow-step:after {
	border: solid #FFF;
}
.arrow-step {
	position: relative;
	background: #E7E7E7;
	border: 4px solid #FFF;
}
.arrow-step:after, .arrow-step:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	z-index: 1;
}
.arrow-step:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #E7E7E7;
	border-width: 18px;
	margin-top: -18px;
}
.arrow-step:before {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #FFF;
	border-width: 26px;
	margin-top: -26px;
}
.arrow-step p {
	font-size: 14px;
	font-weight: 300;
	padding: 8px 12px;
	margin-bottom: 0;
	text-align: center;
}
.arrow-step.active {
	background: #FFEC0F;
}
.arrow-step.active:after {
	border-left-color: #FFEC0F;
}
.arrow-step.active p {
	color: #000;
}

.tabs-orange .nav-tabs {
	margin-left: -1px;
	border-bottom: 0;
}
.tabs-orange .nav-tabs > li > a {
	border-radius: 0;
	border-bottom: 0;
	color: inherit;
	background-color: #EEE;
}
.tabs-orange .nav-tabs > li.active > a,
.tabs-orange .nav-tabs > li.active > a:focus,
.tabs-orange .nav-tabs > li.active > a:hover {
	color: #FFF;
	background-color: #000;
	border-bottom: 0;
}
.tabs-orange .tab-content {
	padding: 20px;
	border: 1px solid #000;
	margin-top: 1px;
}

.table-center th,
.table-center td {
	text-align: center;
}
.table-center th:first-child,
.table-center td:first-child {
	text-align: left;
}
.table-center .act {
	padding: 0;
}
.table-center .act .btn {
	margin-top: 4px;
	margin-bottom: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.account-wrapper {
	width: auto;
	margin-top: 8px;
	margin-left: 40px;
}
.account-wrapper a {
	background: none;
	line-height: 40px;
	padding: 0 20px;
	color:#000;
	border: 1px solid #444;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
}
.less-padding {
	padding: 0 !important;
}
.breadcrumb>li+li:before{
	padding: 0;
}
.checkout,
.order-summary {
	margin-bottom: 40px;
}
.checkout .title,
.order-summary .title {
	margin-top: 10px;
	margin-bottom: 20px;
}
.checkout .title-section,
.order-summary  .title-section {
	margin-top: 0;
	margin-bottom: 20px;
}
.checkout .box,
.checkout .payment-box,
.order-summary .payment-box {
	margin-bottom: 25px;
	padding: 10px 30px;
	border: 1px solid #CCC;
}
.checkout .order-box,
.order-summary .order-box {
	padding: 10px 30px;
	border: 1px solid #CCC;
}
.checkout .order-box .detail .items,
.order-summary .order-box .detail .items {
	margin-bottom: 20px;
}
.checkout .order-box .detail .items .row,
.order-summary .order-box .detail .items .row {
	padding: 20px 10px;
	border-bottom: 1px solid #F5F5F5;
}
.checkout .order-box .detail .items .media-object,
.order-summary .order-box .detail .items .media-object {
	width: 50px;
}
.checkout .order-box .detail .total .order-total,
.order-summary .order-box .detail .total .order-total {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #F5F5F5;
}
.checkout .order-box .detail .total .order-total p,
.order-summary .order-box .detail .total .order-total p {
	margin-bottom: 0;
}
.checkout .order-box .detail .actions,
.order-summary .order-box .detail .actions {
	margin-top: 15px;
	text-align: right;
}
.checkout .order-box .detail .actions .btn,
.order-summary .order-box .detail .actions .btn {
	border-radius: 0;
}
.checkout .bank-img {
	margin-right: 15px;
}
.checkout .radio-img {
	margin-top: 8px;
	margin-right: 15px;
	width: 60px;
}
.checkout .dn,
.checkout .error-box {
	display: none;
}
.checkout .customer-detail .btn {
	margin-top: 20px;
	border-radius: 0;
}
.checkout .customer-detail table {
	margin-top: 10px;
}
.checkout .customer-detail .address-list .address-block {
	position: relative;
}
.checkout .customer-detail .address-list .address-item {
	margin-top: 15px;
	padding: 10px;
	background-color: #DDD;
}
.checkout .customer-detail .address-list .address-item .btn {
	border-radius: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.order-summary .cart .view-cart .panel {
	border: 0;
	box-shadow: none;
}
.order-summary .cart .view-cart .panel .panel-footer {
	background-color: transparent;
}

.cart .view-cart .panel {
	margin-bottom: 30px;
	border: 1px solid #CCC;
	border-top: 4px solid #666;
	border-radius: 0;
}
.cart .view-cart .panel > .panel-heading {
	padding: 15px 20px;
	border-bottom: 1px solid #CCC;
}
.cart .view-cart .panel > .panel-heading p {
	margin-bottom: 0;
}
.cart .view-cart .panel > .panel-body {
	padding: 0;
}
.cart .view-cart .panel > .panel-body > .row {
	margin-right: 0;
	margin-left: 0;
	padding: 20px 10px;
	border-bottom: 1px solid #ccc;
}
.cart .view-cart .panel > .panel-body > .row:last-child {
	border-bottom: 0;
}
.cart .view-cart .panel > .panel-footer .btn {
  padding: 6px 30px;
}
.cart .view-cart .media .media-object {
	max-height: 100px;
	width: auto;
}
.cart .view-cart .coupon .panel,
.cart .view-cart .total .panel {
	margin-bottom: 60px;
	padding: 20px 30px 30px;
	border: 1px solid #CCC;
	border-radius: 0;
}
.cart .view-cart .coupon .title,
.cart .view-cart .total .title {
	margin-top: 0;
	margin-bottom: 20px;
}
.cart .view-cart .total .btn {
	border-radius: 0px; padding:6px 30px;
}
.cart .empty-cart p {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 300;
}
.cart .empty-cart .btn {
	min-width: 180px;
	font-size: 20px;
	font-weight: 300;
}
.cart .empty-cart img {
	margin-bottom: 40px;
}
.cart .delete,
.cart .delete:hover {
	color: #ff0000
}
.yamm .yamm-fw .dropdown-menu {
	top: 98px;
}
.yamm .yamm-fw .dropdown-menu > li {
	margin-top: 15px;
	margin-bottom: 15px;
	overflow: auto;
}

/* Other */
body {
	min-width: 1170px;
}
.container-fluid {
	max-width: none !important;
	width: 1170px;
  padding-left: 0!important;
  padding-right: 0!important;
}
.navbar-nav > li > a {
	padding-top: 6px;
	padding-bottom: 6px;
}
.open .arrow {
	border: solid transparent;
	border-bottom-color: #f1a744;
	border-width: 11px;
	position: absolute;
	bottom: 0;
}
.bottom-column {
	float: none;
	display: table-cell;
	vertical-align: bottom;
}
.error {
	text-align: center;
	color: red;
}
.search-block {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #000000;
	overflow: hidden;
	z-index: 1001;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.search-block.opened {
	overflow-y: hidden;
	max-height: 80px;
}
.search-block.closed {
	max-height: 0;
}
.search-block .search-close {
	margin: 15px 30px;
	padding: 10px 15px;
	color: #f00;
	font-size: 18px;
	font-weight: 300;
	position: absolute;
	right: 45px;
	cursor: pointer;
}
.search-block form {
	padding: 10px 15px;
}
.search-block .form-group {
	margin-bottom: 0;
}
.search-block .form-control {
	height: 56px;
	font-size: 24px;
	color: #fff;
	font-weight: 300;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.search-block .input-group-addon {
	background-color: transparent;
	border: 0;
	border-radius: 0;
}
.search-block .input-group-addon img {
	max-width: 32px;
}

.navbar-nav > .dropdown:hover > .dropdown-menu {
	display: block;
}


.blog .thumb .image img,
.blog .banner img  {
	width: 100%;
}
.blog .banner {
	margin-bottom: 50px;
	position: relative;
	min-height: 204px;
}
.blog .excerpt {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 95px;
	background: rgba(0,0,0,0.5);
	padding: 12px 12px 12px;
}
.blog .excerpt a {
	color: white;
}
.blog .post-date {
	font-size: 12px;
	color: white;
}
.blog .excerpt a:hover {
	color: #f1a744 !important;
}
.filter .context-filter:last-child {
	margin-bottom: 40px;
}
.context-filter {
	margin-bottom: 30px;
}
.context-filter .divider-block {
	padding: 8px;
	background-color: #F5F5F5;
	border: 1px solid #CCC;
	text-align: left;
}
.context-filter .content-filter {
	margin-top: 10px;
	margin-bottom: 20px;
	padding-left: 10px;
}
.context-filter .content-filter li {
	margin-bottom: 5px;
}
.context-filter .content-filter li a {
	color: #666;
}
.context-filter .content-filter li a:hover {
	color: #f1a744;
}

.filter-product {
	padding-left: 0;
	border-bottom: 2px solid #efefef;
}
.filter-container {
	padding: 15px;
	padding-left: 5px;
	border-bottom: 2px solid #efefef;
}
.filter-list {
	display: inline;
}
.filter-box {
	border: 1px solid #666;
	color: black;
	padding: 5px 10px;
	margin: 0 5px;
}
.btn-clear {
	background-color: #000;
	color: #fff;
}
.btn-clear:focus,
.btn-clear:hover {
	color: #ddd;
}
.btn-block.more {
	margin-top: 20px;
}

.def-pagination {
	display: none;
	margin-left: 275px;
	font: 12px 'Calibri';
}

.form-register .greet,
.form-login .greet {
	margin-bottom: 20px;
}
.form-register form,
.form-login form {
	margin-bottom: 40px;
}
.form-intersection {
	margin-top: 30px;
	margin-bottom: 30px;
	color: #a7a7a7;
	text-align: center;
}

.message_product {
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 5px 10px;
	background-color: #00B286;
	font-size: 14px;
	color: white;
	font-weight: bold;
}
.message_product a {
	color: #f1a744;
}


/* Gaps */
.photo-profile {
	position: relative;
}
.photo-profile > img {
	max-width: 64px;
}
.photo-profile.edit > img {
	opacity: 0.25;
}
.photo-profile.edit > a {
	background-color: #EEE;
	padding: 2px;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: pointer;
}
.photo-profile.edit > a > img {
	max-width: 18px;
}
.owl-featured .owl-wrapper-outer {
	background-color: white;
}
.featured .head .title {
	background: #000;
	padding: 10px;
	color:#FFF;
	float: left;
}
.price-tag {
	background: #FFEC0F;
	padding: 10px;
	font-weight: bold;
	font-size: 120%;
	display: inline-block;
	border: 1px solid black;
	box-shadow: 2px 2px #000;
	text-align: center;
}
.def-temp .item {
	border: 1px solid #F5F5F5;
	padding: 5px;
}
.featured-tabs .head .title,
.news .head .title,
.product .head .title {
	background-color: #000;
	float: left;
	padding: 10px;
	margin: 0;
	color:#FFF;
}
.fix-category-content a {
	overflow: auto;
	margin-bottom: 25px !important;
}
.sitemap li p i {
	color:#FFF;
	margin-right: 10px;
}
.category .container-fluid {
	background: #FFF;
}
.thumbnail-category {
	min-height: 430px;
}
.product-description {
	font-size: 24px;
	line-height: 32px;
}
.status-count {
	margin: 10px 0;
	font-size: 14px !important;
}
.btn-add-cart {
	background: black;
	color:#FFF;
	margin: 10px 0;
	padding: 10px;
}
.btn-add-cart i {
	font-size: 24px;
	margin-right: 10px;
}
.btn-add-cart:hover {
	color:#FFEC0F;
}
.price-tag-2 {
	background-color: #FF0;
	border: 1px solid #000;
	box-shadow: 2px 2px #000;
	margin: 10px auto 20px;
	width: 70%;
	padding: 10px;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	font-family: 'Oswald';
}
.price-tag-2 p {
	font-size: 26px !important;
}
.def-content .container-fluid {
	background: white;
}
.dropdown-menu .divider {
	background: #454545;
}
#product-search {
	width: auto;
	margin-top: 5px;
	line-height: 30px;
}
#product-search input[type="text"] {
	margin-top: 3px;
	height: 42px;
	border: 1px #D4D4D4 solid;
	padding: 5px 50px 5px 14px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	background: white;
}
#product-search input[type="submit"] {
	border: 1px #D4D4D4 solid;
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#FFF),to(#EDEDED));
	line-height: 40px;
	padding: 0 15px;
}
